<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Template</title>
    {% from 'bootstrap5/form.html' import render_form %}
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
</head>
<body style="margin-left: 10px">
{% with messages = get_flashed_messages() %}
   {% if messages %}
       <script>
        var messages = {{ messages | safe }};
        for (var i =0; i <messages.length; i++){
            alert(messages[i]);
        }
       </script>
      {% for message in messages %}
          <p class="fs-1"><i><b><mark>{{ message }}</mark></b></i></p>
      {% endfor %}
   {% endif %}
{% endwith %}
     <h1>Log in</h1>
    <form class="col-lg-3" method="post">
        {{ render_form(form) }}
    </form>
</body>
</html>