{% extends "baseTemplate.html" %}


{% block content %}
    {% with messages = get_flashed_messages() %}
   {% if messages %}
       <script>
        var messages = {{ messages | safe }};
        for (var i =0; i <messages.length; i++){
            alert(messages[i]);
        }
       </script>
      {% for message in messages %}
          <p class="fs-1"><i><b><mark>{{ message }}</mark></b></i></p>
      {% endfor %}
   {% endif %}
{% endwith %}
    {% if user %}
        <h1>Hello, {{ user.username }}</h1>
    {% elif text %}
        <h1>{{ text }}</h1>
    {% else %}
        <h1>Hello Stranger</h1>
    {% endif %}
<p>This is a page of FC "Zhemchuzhina Futbola"</p>
    {% if not auth %}
        <a class="btn btn-primary" href="/testForm" role="button">Registration</a>
    {% else %}
        <a class="btn btn-primary" href="/logout" role="button">Log out</a>
    {% endif %}
{% endblock %}